.wrap {
    margin: 54px auto 0 auto;
    max-width: 540px;
}

.content-title {
    margin-left: 16px;
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-title h2 {
    font-size: 1.8rem;
    color: #2B2B2B;
}
.content-title h3 {
    font-size: 1.6rem;
    color: #2B2B2B;
}
.content-title > div {
    display: flex;
    align-items: center;
}

/*아이콘 버튼*/
.icon-button-56 {
    width: 56px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-button-56:after {
    position: absolute;
    content: "";
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 24px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.icon-button-56:hover:after {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}
.icon-button-24 {
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon-button-24:after {
    position: absolute;
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 24px;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.icon-button-24:hover:after {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}